@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  /* border-bottom: 2px solid rgb(173, 173, 173, 0.5); */
}

.parentContainer {
  width: 100%;
  height: 100vh;
  padding: 0rem !important;
}

.contentContainer {
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.staticContainer {
  display: block;
  padding: 3rem;
}

.home {
  height: 95vh;
  width: 100%;
  background-color: rgba(232, 102, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.postContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: space-between;
  align-content: space-around;
  justify-content: flex-start;
  margin-top: 1rem;
}

.postContainer::after {
  content: '';
  flex: auto;
}

.cardDesign {
  width: 20rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.cardDesign:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-subtitle {
  font-style: italic;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: red;
  border-radius: 10px;
  padding: 2px 8px;
  color: white !important;
}

.postNumber {
  display: block;
  margin: 1rem 0;
}

.login_signup {
  width: 50%;
  height: 100vh;
  margin: auto;
}

.signup_instructions {
  width: 50%;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.backdrop {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.moredetails {
  position: absolute;
  width: 50rem;
  top: 35rem;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -75%);
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 3rem;
  z-index: 20;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 2rem 5rem 0 rgba(0, 0, 0, 0.19);
}

.moredetailsimage {
  width: 19rem;
  z-index: 20;
  border-radius: 20px;
}

.moredetailsimage:hover {
  opacity: 0.5;
  cursor: pointer;
}

.rendermap {
  z-index: 10;
}

.resize-moredetailsimage {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: fixed;
  top: 0rem;
  right: 2rem;
}

.close:hover {
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .moredetails {
    width: 98%;
  }
}

@media screen and (max-width: 410px) {
  .signup_instructions {
    display: none;
  }
  .moredetails {
    position: absolute;
    top: 46rem;
    width: 98%;
  }
}
