.parentContainer {
  width: 100%;
  height: 100vh;
  padding: 0px !important;
}

.contentContainer {
  height: 100vh;
}

.postContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  align-content: space-around;
  justify-content: flex-start;
  padding: 0 18px;
}

.postNumber {
  padding: 0 18px;
}

.cardDesign {
  width: 250px;
  margin-bottom: 20px;
  margin-right: 20px;
}
