body h1 {
  margin: 2rem 0;
}

.parentContainer {
  width: 100%;
  height: 100vh;
  padding: 0rem !important;
}

.contentContainer {
  height: 100vh;
  padding: 0 18px;
  display: flex;
  justify-content: center;
}

.postContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  align-content: space-around;
  justify-content: flex-start;
  margin-top: 1rem;
}

.cardDesign:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.postNumber {
  display: block;
  margin: 1rem 0;
}

.cardDesign {
  width: 18rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.login_signup {
  width: 50%;
  height: 100vh;
  margin: auto;
}

.signup_instructions {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .signup_instructions {
    display: none;
  }
}

.moredetails {
  /* display: block; */
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -75%);
  padding: 0 20px 30px 20px;
  border-radius: 20px;
  border: 1px solid black;
}
